.nav-pills > li:hover,
.nav-pills > li:active,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff !important;
  background-color: #555 !important;
}

ul.nav.nav-pills {
  background: #222;
  position: relative;
}

.nav-pills > li {
  border-radius: 100px !important;
  color: #aaa !important;
}
.nav-pills > li > a {
  color: #aaa !important;
}


.nav > li:hover,
.nav > li:active,
.nav > li > a:focus,
.nav > li > a:hover {
  color: #aaa !important;
  text-decoration: none !important;
  background-color: #111 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #aaa !important;
  text-decoration: none !important;
  background-color: #111 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #aaa !important;
  text-decoration: none !important;
  background-color: #111 !important;
}
.nav-pills .nav-link {
  border-radius: 100px !important;
}
