.nav-pills > li:hover,
.nav-pills > li:active,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #555;
}

ul.nav.nav-pills {
  background: #222;
  position: relative;
}

.nav-pills > li {
  border-radius: 100px;
  color: #aaa;
}

.nav > li:hover,
.nav > li:active,
.nav > li > a:focus,
.nav > li > a:hover {
  color: #aaa;
  text-decoration: none;
  background-color: #111;
}
