<div class="col-xs-12 col-sm-6 col-lg-6">
  <div class="item  dot">
      <div class="item-title">
          <%=name%>, <%= translate %>
      </div>
      <div class="status">
          <%= def%> <span class="value-title"></span>
          <span class="indicator"></span>
      </div>
  </div>
</div>
