<tr class="ordered-table-head">
    <th scope='col' class="order-by-list_index text-center" style="width:50px">№<br>п/п </th>
    <th scope='col' class="order-by-idle_date" style="width: 90px;">Дата <span class="icon-sort glyphicon"></span></th>
    <th scope='col' class="order-by-idle_time" style="width:1px">Время <span class=" glyphicon icon-sort">&nbsp;</span></th>
    <th scope='col' class="order-by-idle_time" style="width:200px">Устройство <span class=" glyphicon icon-sort">&nbsp;</span></th>
    <th scope='col' class="order-by-typ" style="width:1px">Тип <span class="icon-sort glyphicon"></span></th>
    <th scope='col' class="order-by-code" style="width:1px">Код <span class="icon-sort glyphicon"></span></th>
    <th scope='col' class="order-by-description" style="width: 160px;">Описание <span class=" glyphicon icon-sort">&nbsp;</span></th>
    <th scope='col' style="width:149px">Подтверждение</th>
</tr>