{
    "parser": "babel-eslint",
    "extends": [
      "airbnb",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:jsx-a11y/recommended",
      "plugin:sonarjs/recommended",
      "plugin:promise/recommended"
    ],
    "plugins": ["jsx-a11y", "sonarjs", "no-loops", "no-use-extend-native", "promise"],
    "rules": {
      "jsx-a11y/click-events-have-key-events": "off",
      "import/no-extraneous-dependencies": [
        "error",
        {
          "packageDir": "./"
        }
      ],
      "allowTernary": true,
      "sonarjs/cognitive-complexity": ["error", 30],
      "no-loops/no-loops": 2,
      "no-use-extend-native/no-use-extend-native": 2,
    },
    "settings": {
      "import/resolver": "webpack"
    }
  }