<div id="about" class="nano" style="width: 300px; height: 300px;">
    <div class="nano-content">
        <iframe id="passport" src="docs/<%= app.controller.get('id')%>/instruction.html" height="100%" width="100%"></iframe>
    </div>
</div>