<a href="http://<%=ip%>:<%=port%>" class="" width="200px">
    <div class="asset-image">
        <img src="6_0.png">
    </div>
    <div class="asset-title">
        <div class="col-xs-12"></div>
        <div class="col-xs-12"><span class="orange"></span></div>
    </div>
</a>