<div class="dropdown">
  <ul class="dropdown-menu custom-dropdown" aria-labelledby="lang-sett">
    <li><a id="locale-ru">Language</a></li>
    <li><a id="locale-ua">
      <div>
        <span class="glyphicon glyphicon-user user-name"></span>
      </div>
    </a></li>
    <li><a id="locale-en">Eng</a></li>
  </ul>
  <span class='glyphicon glyphicon-cog' id="lang-sett" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" />
</div>
