<td style="width: 63.8041%; padding-left: 25px;">
    <p class="top-margined">
        <%= name %>
    </p>
</td>
<td class="text-center" style="width: 10.4329%;">
    <p class="top-margined statused">
        <%= status %>
    </p>
</td>