.gruppa .item {
  background: rgba(29, 29, 29, 0.8);
  border: 2px solid #494949;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  padding: 10px 10px 20px;
  position: relative;
  height: 88px;
}

.tab-content {
  background: rgba(42, 42, 42, 0.8);
  border: 1px solid #494949;
  border-radius: 0 0 10px 10px;
  padding: 40px 15px 15px;
  border-top: 0;
}
