.gruppa .item {
  background: rgba(29, 29, 29, 0.8);
  border: 2px solid #494949;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  padding: 10px 10px 20px;
  position: relative;
  height: 88px;
}
