<td data-label='№' class="text-center"></td>
<td data-label='Дата'></td>
<td data-label='Время'  class="text-center"></td>
<td data-label='Устройство'  class="text-center"></td>
<td data-label='Тип сообщения' class="text-center"></td>
<td data-label='Код'></td>
<td data-label='Описание' class="text-center"></td>
<td data-label='Подтверждение' ></td>