<div class="col-xs-12 col-sm-6 col-lg-6">
    <div class="item  dot ">
        <div class="item-title">
            <%= name %>
        </div>
        <div class="status">
            <span class="status-name"></span>
            <span class="indicator"></span>
        </div>
    </div>
</div>
