<div class="row">
    <div class="col-xs-3 text-center"><%= count%> <%= measurment %></div>
    <div class="col-xs-6 text-center"><%= name %></div>
    <div class="col-xs-3 text-center"><%= totalPrice %> <%= currency %></div>
</div>