<table class="table">
    <thead>
        <tr>
            <th colspan="3">7 ноября 2017 г.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="3">12 ноября 2017 г.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Весь день</td>
            <td style="width: 1%;"><span class="icon-circle">&nbsp;</span></td>
            <td>ТО1 Фильтр</td>
        </tr>
    </tbody>
</table>