<label for="from_<%= id %>">От</label>
<input type="text" id="from_<%= id %>" class="chart-datepicker" name="from">
<label for="to_<%= id %>">До</label>
<input type="text" id="to_<%= id %>" class="chart-datepicker" name="to">