<h4><%= name %></h4>
<canvas class="canvas-chart"/>
<!--
<input type="checkbox" name="date-checkbox" class="chart-date-checkbox">
<label for="date-checkbox">Выбрать дату</label>
<div class="datepicker-field"></div>-->
