<a href="/login/logout">
  <span class='glyphicon glyphicon-log-out' />
</a>
<span class="glyphicon glyphicon-tasks offline"></span>
<span class="glyphicon glyphicon-hdd"></span>
<span  class="glyphicon glyphicon-globe"></span>
