<div class="left-nav">
  <div class="logo">
    <a href="/"><img src="./images/logo_img.png"></a>
  </div>
  <div class="logo">
    <a href="/"><img src="./images/logo_text.png"></a>
  </div>
  <div id="controller"></div>
  <div id="cloud"></div>
  <div id="network"></div>
</div>
<div class="right-nav">
  <div id="messages"></div>
  <div id="settings"></div>
  <div id="bot"></div>
  <div id="user"></div>
</div>
