<div class="obj-item" style=" top: <%= y %>%; left: <%= x %>%;width: <%= devicesize %>px; height: <%= devicesize %>px;">
    <div class="obj-image">
        <img src="/images/<%=typ%>_0.png">
    </div>
    <div class="obj-title">
        <%= name %>
    </div>
</div>