<div class="main-obj">
    <div class="obj-item" style="left:<%= 50 %>%; top:<%= 50 %>%">
        <div class="obj-image">
            <img src="/images/<%=typ%>_0.png">
        </div>
    </div>
</div>

