<%let error_while_camera_connect = 'error_while_camera_connect', button_try_again = 'button_try_again';%>
<h4><%= app.language[error_while_camera_connect] || error_while_camera_connect %></h4>
<button class="btn btn-default"><%= app.language[button_try_again] || button_try_again %></button>