@import 'colors';

$themes: (
  light: (
    backgroundDefault: #0f0f0f,
    defaultColor: #cccccc,
    profileColor: #707070,
    profileBackground: #222,
    buttonHover: #ffd842,
    buttonHoverStroke: #fcff00,
    buttonStroke: #f7f216,
    buttonHoverColor: #9e9e9e,
    buttonHoverFill: #000,
    buttonHoverText: #fff,
    valueBackground: rgba(29, 29, 29, 0.8),
    valueBorder: #494949,
    valueBarBackground: #666666,
    valueBarFullBackground: #0db800,
    valueBarWarningBackground: #ffa200,
    valueBarDangerBackground: #e12c0d,
    valueShadowBackground: #ff0000,
    valueDividerBackground: #a8acb9,
    valueRadialFill: #1a1a1a,
    valueDotBackground: #191919,
    valueDotBorder: #505050,
    panelBorder: #494949,
    panelBackground: #252525,
    panelHeaderBackground: #303030,
    panelHeaderBorder: #ddd,
    tableBorder: #515151,
  ),
  dark: (
    backgroundDefault: #0f0f0f,
    defaultColor: #cccccc,
    profileColor: #707070,
    profileBackground: #222,
    buttonHover: #ffd842,
    buttonHoverStroke: #fcff00,
    buttonStroke: #f7f216,
    buttonHoverColor: #9e9e9e,
    buttonHoverFill: #000,
    buttonHoverText: #fff,
    valueBackground: rgba(29, 29, 29, 0.8),
    valueBorder: #494949,
    valueBarBackground: #666666,
    valueBarFullBackground: #0db800,
    valueBarWarningBackground: #ffa200,
    valueBarDangerBackground: #e12c0d,
    valueShadowBackground: #ff0000,
    valueDividerBackground: #a8acb9,
    valueRadialFill: #1a1a1a,
    valueDotBackground: #191919,
    valueDotBorder: #505050,
    panelBorder: #494949,
    panelBackground: #252525,
    panelHeaderBackground: #303030,
    panelHeaderBorder: #ddd,
    tableBorder: #515151,
  ),
);

