<div class="text-center">
    <div class="authorize-logo">
        <img src="auth_logo.png" alt="" class="img-responsive">
    </div>
    <p>${t('you_auth')}: <b><%= name %></b></p>
    <p>
        <button style="margin-top: 50px;" class="btn btn-default" id="btn-logout">${t('button_log_out')}</button>
    </p>
    <br>
</div>
