.profile {
    font-size: .9em;
    color: #707070;
    line-height: 2em;
}
.profile span,
.profile img {
  vertical-align: middle;
}
.profile img {
  height: 13px;
  vertical-align: baseline;
}
.profile .user-name {
    font-size: 1.1em;
    background: #222;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 4px;
}

.logo,
.profile {
  float: left;
  margin-right: 30px;
}

.logo img {
  height: 31px;
}

.profile {
  font-size: .9em;
  color: #707070;
  line-height: 2em;
}

.profile span,
.profile img {
  vertical-align: middle;
}

.profile img {
  height: 13px;
  vertical-align: baseline;

}

img.user-icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 35px;
  vertical-align: baseline;
}

.profile .user-name {
  font-size: 1.1em;
  background: #222;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

#bot-service {
  float: right;
  font-size: 1.4em;
  margin-left: 12px;
  color: #939498;
  transition: all .3s ease;
  line-height: 1.5em;
  display: inline-block;
  width: 22px;
  margin-top: 6px;
}

//.bot-service-mask{
//  z-index: 1050;
//}

.messages,
#logout,
#clockbox {
  float: right;
  margin-left: 30px;
  line-height: 2em;
  display: inline-block;
  padding: 3px 0;
}

.bot-service {
  float: right;
}

.messages {
  //padding-left: 10px;
  padding-right: 10px;
}

.messages #messages {
  transform: scaleX(1.3);
}

.messages.no-mes {
  border-color: #222;
}

.messages.active {
  box-shadow: 0 0 12px 2px #0db800;
  border-color: #0db800;
}

.messages.att {
  box-shadow: 0 0 12px 2px #ffa200;
  border-color: #ffa200;
}

.messages.danger {
  box-shadow: 0 0 12px 2px #ff0000;
  border-color: #e12c0d;
}

#i-email {
  fill: #777;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
}

.messages span {
  display: inline-block;
  left: 0px;
  top: 4px;
  padding-left: 10px;
}
