<td><%= id%></td>
<td class="text-center"><%= idle_date %></td>
<td class="text-center"><%= idle_hour %></td>
<td class="text-center"><%= name %></td>
<td class="text-center"><span class="indicator <%= status.get('dclass') %>">&nbsp;</span></td>
<td class="text-center"><%= error.get('id') %></td>
<td><%= error.get('msg') %></td>