<tr class="ordered-table-head" style="cursor: pointer; user-select:none;">
    <th class='order-by-id' style="width:1px">ID</th>
    <th class='order-by-date' width="100px">Дата <span class="icon-sort glyphicon">&nbsp;</span></th>
    <th class='order-by-time' style="width:1px">Время <span class="icon-sort glyphicon">&nbsp;</span></th>
    <th class='order-by-name' style="width: 100px;">Устройство <span class="icon-sort glyphicon">&nbsp;</span></th>
    <th class='order-by-status' style="width:1px">Статус <span class="icon-sort glyphicon">&nbsp;</span></th>
    <th class='order-by-code' style="width:1px">Код
        <br> ошибки <span class="icon-sort glyphicon">&nbsp;</span></th>
    <th class='order-by-msg' style="width:1px">Текст сообщения <span class="icon-sort glyphicon">&nbsp;</span></th>
</tr>