<div class="page-wrapper">
  <div class="container">
    <div class="header-wrap">
      <a type="button" id="close-page" class="btn btn-default btn-back"><span></span></a>
      <h1>Title</h1>
      <div class="main-asset-title"></div>
    </div>
    <div class="content"></div>
  </div>
</div>
