<div class="row">
    <div class="col-xs-1 text-center"><%= list_number %></div>
    <div class="col-xs-2 text-center"><%= date %></div>
    <div class="col-xs-1 text-center"><%= time %></div>
    <div class="col-xs-8 text-center"><%= description %></div>
</div>
