<div class="row">
    <div class="col-xs-3">
        <div class="checkbox">
            <label>
                <input class="work-done" type="checkbox"> <span class="device-name" style="margin-top: 10px; word-wrap: break-word;"><%= deviceName %>:</span>
            </label>
        </div>
    </div>
    <div class="col-xs-8">
        <p class="w-list"><%= worksList %></p>
    </div>
</div>