<div class="row">
    <div class="col-xs-6">
        <div id="felt" style="height: 100px;"></div>
    </div>
    <div class="col-xs-6">
        <div id="girht" style="height: 100px;"></div>
    </div>

</div>