<h4><%= name %></h4>
<% if (reason.length > 0) { %>
	<p/>
    <h5 style='font-weight: 600;'>Возможные причины:</h5>
<% } %>
<p style='padding-left: 15px;'><%= reason %></p>
<% if (solution.length > 0) { %>
    <h5 style='font-weight: 600;'>Способы устранения:</h5>
<% } %>
<p style='padding-left: 15px;'><%= solution %></p>