<div class="">
    <h4 class="panel-title"><a data-toggle="collapse" class="device-modal-status" href="#<%= id %>"><span>&nbsp;</span></a></h4>
    <div class="panel-collapse collapse in" id="<%= id %>">
        <div class="panel-body">Устройство исправно</div>
    </div>
</div>